@charset "UTF-8";
a {
	text-decoration: none;
}

li {
	list-style: none;
}
.admin_topArea {
	padding: 97px 0 90px 0;
	
}

.admin_search {
	margin-bottom: 50px;
}
table{
	border-collapse: separate;
	border-spacing: 0 20px;
	width: 100%;
}
.admin_search table td{
	text-align: center;
}
.titArea {
	border: 1px solid black;
}
.titArea ul{
	display: flex;
}
.titArea ul li {
	padding: 0 20px;
}


.content_info{
	display: none;
}

.room_manage .off{
	display: none;
}

.room_manage .on{
	display: "";
}

.res_manage .off{
	display: none;
}

.res_manage .on{
	display: "";
}

