@charset "UTF-8";

a {
	text-decoration: none;
}

table {
	border-collapse: separate;
	border-spacing: 0 20px;
	width: 100%;
}

table td {
	text-align: center;
}
/* 관리자 페이지 상단 */
.admin_topArea {
	padding: 100px 50px 50px 50px;
	font-family: 'Playfair Display SC', serif;
	font-size: 30px;
	font-weight: normal;
}

.admin_manage {
	padding: 0 50px;
}

/* 관리 탭 영역*/
.titArea ul{
	display: flex;
	text-align: center;
	
}
.titArea ul #room_click, #res_click, #member_click{
	width: 30%;
	padding: 5px 20px;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-top: 1px solid black;
}

.titArea .off{
	border-bottom : 1px solid black;
}
.titArea .on{
	border-bottom : hidden;
}
.titArea ul::after {
	content: "";
	width: 100%;
	border-bottom : 1px solid black;
}

.admin_search {
	margin: 20px 0;
	padding: 20px 0;
	background-color: #f9f9f9;
}
#hotel {
	
	align-items: center;
}
#bin{
	content: "";
	width:15%;
}
#roomName {
	padding: 2px 10px;
}

/* 버튼 css */
#search_btn, #user_btn, #member_btn {
	padding: 0 10px;
	background-color: transparent;
	border : 1px solid black;
}
#res_btn {
	padding: 2px 15px;
	background-color: black;
	color: white;
	border : 1px solid black;
	cursor: pointer;
	font-size: 15px;
	width: 60%;
	
}
.room_manage table {
	padding : 10px;
}
.room_manage .roomname td {
	font-family: 'Playfair Display SC', serif;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding-left: 50px;
}
.room_manage td{
	text-align: center;
}

.room_manage img{
	width: 100%;
}
.room_manage .img{
	padding: 10px 0 10px 50px;
}


/* 객실 검색  */
.room_search td{
	text-align: center;
}
.room_search img{
	width: 100%;
}
.room_search .roomname td {
	font-family: 'Playfair Display SC', serif;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding-left: 50px;
}
.room_search .img {
	padding: 10px 0 10px 50px;
}
.room_search ul {
	padding-left: 50px;
}

/* 객실 검색 상세내역 */
#content_info_st, #content_info_d, #content_info_su, #content_info_p{
	display: none;
}
#cont_101, #cont_102, #cont_103, #cont_201, #cont_202, #cont_203, #cont_301, #cont_302, #cont_303, #cont_401, #cont_402, #cont_403 {
	font-weight: bold;
}
#ul_101, #ul_102, #ul_103, #ul_201, #ul_202, #ul_203, #ul_301, #ul_302, #ul_303, #ul_401, #ul_402, #ul_403 {
	font-weight: normal;
}

/* 예약관리 페이지 */
.res_manage #res_cont {
	padding-left: 50px;
}
.room_manage .off{
	display: none;
}

.room_manage .on{
	display: "";
}
.res_manage .off{
	display: none;
}

.res_manage .on{
	display: "";
}
.room_search .off{
	display: none;
}
.room_search .on{
	display: "";
}
.admin_search .off{
	display: none;
}
.admin_search .on{
	display: "";
}
.admin_search .off{
	display: none;
}
.admin_search .on{
	display : "";
}

/* 회원관리 페이지 */
.member_manage {
	padding: 0 50px 50px 50px;
}
.member_manage .off{
	display: none;
}
.member_manage .on{
	display: "";
}
.member_manage td{
	border-bottom: 1px solid #f2f2f2;
	font-size: 13px;
	padding : 3px 6px;
}
.member_manage th {
	border-top: 1px solid #666;
	border-bottom: 1px solid #f2f2f2;
	font-size: 13px;
	font-weight: bold;
	padding : 3px 6px;
}
#mem_del {
	padding: 0 10px;
	background-color: transparent;
	border : 1px solid black;
	font-size: 13px;
}
