
@charset "UTF-8";
:root {
    --white-color: #fff;
    --black-color: #000;
    --yellow-color: #989442;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 18px;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo .menuslide{
	display: flex;
	flex-direction: column;
}

.allMenu{
	background-color: var(--black-color);
	color: var(--white-color);
}
.allMenu .List {
	display: none;
}

.allMenu li{
    list-style: none;
}
.allMenu .List.active{
    background-color: var(--black-color);
	/* color: var(--white-color); */
	display: flex;
    justify-content:space-around;
    position: absolute;
    padding: 18px 0;
    top: 100px;
    width: 100%;

}

.allMenu .List>li{
    color: var(--yellow-color);
}

.allMenu .List .innerMenu{
    padding: 10px 0;
    line-height: 50px;
    color: var(--white-color);
}
.logo button{
    padding: 0 8px 0 18px;
    border: 0;
    cursor: pointer;
    background-color: var(--white-color);
    font-size: 30px;
}

.logo a {
    text-decoration: none;
    padding: 30px;
    font-size: 30px;
    color: var(--black-color);
    
}
.menu {
    display: flex;
    /* justify-content: space-between; */
    padding: 12px;
    align-items: center;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    padding: 12px;
}

.menu ul li a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 16px;
}

.menu .res_btn {
    size: 10px;
    margin-left: 35px;
    cursor: pointer;
    padding: 0 20px;
    background-color: var(--white-color);
    text-align: center;
    border: 1px solid var(--black-color);
    font-size: 18px;
    height: 70%;
}
