@charset "UTF-8";

.mainpageTxt .mainBG img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mainpageTxt .mainTxt{
    position: relative;
    color: white;
    text-align: center;
    font-size: 60px;
    width: 100%;
    margin-bottom: 50px;
    font-family: 'Playfair Display SC', serif;
}

.mainRes {
    position: relative;
}


.reservation{
    display: flex;
    position: absolute;
	width: 100%;
	justify-content: center;
}

.line-tag:before{
	content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 64px;
    background: #fff;
    opacity: .2;
}

.main-div{
	display: block;
    font: 400 20px/1 gothamB;
    color: #fff;
    padding-top: 4px;
}

.reservation li {
    list-style: none;
    color: white;
}

.mainRes .hotel {
    width: 100%;
    color: white;
    font-size: 30px;
}
.reservation .tit{
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 10px;
    font: 400 14px/1 gothamM;
    color: #b3b3b3;
    letter-spacing: -1px;
    margin-bottom: 5px;  
}

.reservation a{
    text-decoration: none;
}

.reservation .num{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    line-height: 30px;
}

.check {
    background-color: transparent;
}

.ser_btn{
    size: 10px;
    margin-left: 10px;
    cursor: pointer;
    padding: 0 20px;
    background-color: transparent;
    border: solid 1px white;
    color: white;

}

.check_InOut {
    padding: 0 20px;
}

/* 새로운 Main CSS */
.selectWrap{
	display: inline-block;
	position: relative;
	heigth: 64px;
	background: transparent;
}

.text-ui{
	border-bottom: 0;
    font: 600 20px gothamB;
    padding-left: 20px;
    height: 64px;
    background: transparent;
    color: #fff;
    padding-top: 30px;
}


.rBox {
	position: relative;
    display: inline-block;
    min-width: 43px;
    margin-left: 20px;
    text-align: center;
}

.rBox >span{
	display: block;
    font: 400 20px/1 gothamB;
    color: #fff;
    padding-top: 4px;
}

.line_tag:before{
	content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 40px;
    background: #fff;
    opacity: .2;
}

.member_num{
	padding: 0 20px;
}

/* 어린이 어른 선택 */

.member_modal{
	margin: 20px;
}

.numMember{
	width: 100%;
    float: left;
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.numMember span{
    display: block;
    text-align: center;
    width: 124px;
    color: #000;
    margin: 0 auto;
    font-family: gothamL;
}

.numMember button{
	position: absolute;
}

.numMember button.btnUp{
	right: 0;
	top: 20px;
}

.numMember_button{
	text-align: center;
}

.numMember_button button{
	margin-top: 20px;
    border: 1px solid #000;
    transition: color 0.5s ease-in-out;
    font-family: gothamL, notokrL;
    padding: 12px 80px 12px 80px;
}