@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

.myPage_header {
	position: relative;
	width: 80%;
	margin: auto;
	max-width: 1300px;
	margin-top: 150px;
}

.header_title {
	font: 500 40px playfair;
	font-family: 'Playfair Display SC', serif;
	color: #151515;
	font-feature-settings: 'lnum', 'pnum';
}

.header_txt {
	margin-top: 5px;
	font-size: 15px;
	letter-spacing: -.01em;
	opacity: 0.8;
}

.myPage {
	position: relative;
	width: 80%;
	margin: auto;
	margin-top: 20px;
	padding-bottom: 180px;
	display: flex;
}

.myPage_inner {
	width: 20%;
}

.innerBox {
	padding: 30px 20px;
    background-color: #f9f9f9;
    margin-top: 50px;
}

.inner_menu {
	margin-bottom: 20px;
	font: 500 18px/1 notokrR;
    letter-spacing: -.025em;
}

.menu_list {
	opacity: 0.8;
    margin-bottom: 30px;
    font: 500 14px/1 notokrR;
    letter-spacing: -.025em;
    line-height: 2;
}

.menu_content {
	line-height: 5px;
}

.mainpage {
	text-align: center;
	width: 100%;
	margin-block: auto;
	margin-left: 30px;
	margin-right: 30px;
}

.welcom_msg {
	margin-bottom: 40px;
    font: 500 25px/1 notokrR;
    letter-spacing: -.025em;
}

.userName {
	color: #989442;
}

.resPoint_box {
	display: -webkit-box;
	width: 80%;
    margin: auto;
}

.resPoint {
	border: 1px solid;
   	width: 50%;
    padding: 15px;
    font: 500 15px/1 notokrR;
    letter-spacing: -.025em;
    line-height: 2;
}

.myPage_box {
	width: 100%;
	margin: 50px 30px;
	margin-bottom: 0;
}

.headline {
	font: 500 20px/1 notokrR;
    letter-spacing: -.025em;
    margin-bottom: 15px;
}

.myPage_container {
	display: flex;
}

.resListChg_on {
	width: 30%;
	height: 40px;
	border: 1px solid black;
	border-bottom: 0;
	text-align: center;
	margin-bottom: 30px;
	font: 500 14px/1 notokrR;
    letter-spacing: -.025em;
    line-height: 2.5;
}

.resListChg_off {
	width: 30%;
	height: 40px;
	border: 1px solid black;
	border-left: hidden;
    border-right: hidden;
    border-top: hidden;
	text-align: center;
	margin-bottom: 30px;
	font: 500 14px/1 notokrR;
    letter-spacing: -.025em;
    line-height: 2.5;
}
